docker {
    enabled = true
    temp = 'auto'
    runOptions = '-u $(id -u):$(id -g)'
}




params {
    usherDB                     =       "$baseDir/assets/NC_045512v2.fasta"
    usherProblemSites           =       "$baseDir/assets/problematic_sites_sarsCov2.vcf"
    usherGlobalLineages         =       "http://hgdownload.soe.ucsc.edu/goldenPath/wuhCor1/UShER_SARS-CoV-2/public-latest.all.masked.pb.gz"
}
